.location {
  background-color: #88cce2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 3rem;
  overflow: hidden;
}
.generic {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

p {
  margin-bottom: 0;
}
